#bigAdd {
    font-size: 50px;
    width: 500px;
}
#bigView {
    font-size: 50px;
    width: 500px;
}
#bigManage {
    font-size: 50px;
    width: 500px;
}
#bigSearch {
    font-size: 50px;
    width: 500px;
}


h1 {
    font-family: Didot;
    font-size: 38px;
}